{% extends "page.html" %}

{% block body %}
<div class="col-md-7 container-md">
  <h2>Forgot Password</h2>
  <hr>
{% if changePassword %} 
  <div class="login">
    <p class="title2" align="center">Confirm password change.</p>
    <form class="loginForm" action="#" method="post">
      <input class="field form-control" type="hidden" align="center" name="changePassword" value="{{ changePassword }}" >
      <input class="field form-control" type="password" align="center" name="password" placeholder="Password" required>
     <input class="field form-control" type="password" align="center" name="confirmPassword" placeholder="Confirm Password" required>
      <input type="submit" class="signin btn btn-primary" name="reset" value="Reset">
    </form>
    {% if passwordsNoMatch %} 
      <div class="alert alert-warning" align="center" role="alert">
    Passwords don't match
    </div>
    {% endif %}   
                
    </div>

{% else %}
  <div class="login">
    Enter your email below.
    <form class="loginForm" action="#" method="post">
      <div class="input-group mb-3">
      <input class="field form-control" type="text" align="center" name="email" placeholder="Email" required>
      <input type="submit"  class="btn btn-primary"  name="reset" value="Reset">
    </div>
    </form>
    {% if invalid %}
    <div class="alert alert-warning" align="center" role="alert">
    Email is invalid
    </div>
    {% endif %}
    {% if success %} 
      <div class="alert alert-success " align="center" role="alert">
    Success, Please check email.
    </div>
    {% endif %}

        {% if expired %} 
      <div class="alert alert-danger " align="center" role="alert">
    Token expired, please resend.
    </div>
    {% endif %}
                
    </div>
 {% endif %}

</div>
{% endblock %}


